$color: blue;
$fontSize : 35px;
.scss{
    color: $color;
    font-size: $fontSize;
}
.aa{
    color:$color;
    font-size:$fontSize;
}
.bb{
    color:$color;
    font-size:$fontSize;
}
.cc{
    color:$color;
    font-size:$fontSize;
}